spring:
  application:
    name: javabase
  datasource:
    url: jdbc:postgresql://localhost:5432/javabase
    username: javabase
    password: javabase
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
